body {
    margin: 0px;
    font-family: 'Quicksand', sans-serif;
    /* font-family: 'Noto Sans TC', sans-serif; */
    letter-spacing: 1px;
}

header {
    display: grid;
    /* background-color: rgb(162, 206, 244); */
    grid-template-columns: 1fr 1fr;
    grid-row: 1;
    width: 100%;
    height: 100px;
    /* gap: 10px; */

}

.header_logo,
.header_text {
    padding: 0px 60px;
    /* border: 1px solid palevioletred; */
    display: flex;
    align-items: center;
}

.header_text {
    justify-content: center;
}

.header_logo>a {
    text-decoration: none;
    color: black;
}


.header_text_grid {
    /* border: 1px solid palevioletred; */
    display: grid;
    /* width: 100%; */
    gap: 80px;
    /* width: fit-content; */
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row: 1;
}

.bar_text>a {
    text-decoration: none;
    color: black;
    /* border: 1px solid green; */
}

.bar_text>a>i {
    font-size: 20px;
}

.sec1 {
    display: grid;
    background-color: rgb(162, 206, 244);
    grid-template-columns: 1fr;
    grid-row: 1;
    width: 100%;
    height: 700px;

}

.pic1 {
    background-image: url(./pic/1578553196290-1024x596.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.sec1_button {

    width: 92px;
    font-size: 14px;
    /* background-color: white; */
    border: 2px solid #ffffff;
    border-radius: 3rem;
    padding: 5px 10px;
    text-align: center;

    position: relative;
    top: 70%;
    left: 47%;
}

.sec1_button>a {
    text-decoration: none;
    color: #ffffff;

}



.sec2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-auto-rows: auto; */
    grid-row: 1;
    width: 100%;
    height: 600px;
    gap: 10px;
}

.sec2_box {
    background-color: rgb(208, 208, 208);
    text-align: center;
    padding: 0 70px;
    /* display: flex;
    justify-self: center; */
    
}



.sec2_button>a{
    text-decoration: none;
    color: #ffffff;
}
.sec2_button{
    width: 92px;
    font-size: 14px;
    background-color: #C18963;
    /* border: 2px solid #ffffff; */
    border-radius: 3rem;
    padding: 5px 10px;
   
}